<div class="row">
  <h1>Listagem de Materials</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <td colspan="2">
        <button class="btn btn-success" (click)="materialInsertService.showModalInsert()">Novo Material</button>
      </td>
      <td colspan="4">
        <material-search-form (onSearch)="search($event)"></material-search-form>
      </td>
    </tr>
    <tr>
      <th style="width: 60%" [sortColumn]="sortColumn" columnName="material_name" (onSort)="sort($event)">Nome</th>
      <th style="width: 15%">Ativa?</th>
      <th style="width: 15%" [sortColumn]="sortColumn" columnName="created_at" (onSort)="sort($event)">Criado Em</th>
      <th style="width: 10%">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let material of materials | paginate: { itemsPerPage: pagination.itemsPerPage, currentPage: pagination.page, totalItems: pagination.totalItems }">
      <td>{{ material.material_name }}</td>
      <td><i class='fas' [ngClass]="{'fa-check': material.active, 'fa-times': !material.active }"></i> </td>
      <td>{{ material.created_at | date: 'dd/MM/yyyy' }}</td>
      <td>
        <a href="javascript:void(0)" (click)="materialEditService.showModalEdit(material.id)">
          <i class="fas fa-edit"></i>
        </a>
        |
        <a class="alert-danger" href="javascript:void(0)" (click)="materialDeleteService.showModalDelete(material.id)">
          <i class="fas fa-trash-alt"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls
    (pageChange)="pageChanged($event)"
    previousLabel="Anterior"
    nextLabel="Próximo"></pagination-controls>
</div>
<material-new-modal (onSuccess)="materialInsertService.onInsertSuccess($event)" (onError)="materialInsertService.onInsertError($event)"></material-new-modal>
<material-edit-modal [materialId]="materialId" (onSuccess)="materialEditService.onEditSuccess($event)" (onError)="materialEditService.onEditError($event)"></material-edit-modal>
<material-delete-modal [materialId]="materialId" (onSuccess)="materialDeleteService.onDeleteSuccess($event)" (onError)="materialDeleteService.onDeleteError($event)"></material-delete-modal>
